{% extends 'base.html' %}
<!--  -->
{% block content %}
<h1>Home</h1>
<form hx-get="/recipe" hx-target="#content" hx-indicator="#indicator">
  <fieldset role="group">
    <input type="url" name="url" placeholder="Paste recipe url here..." />
    <button type="submit">Search</button>
  </fieldset>
</form>

{% if recipes %}
  <h2>Recipes</h2>
  <ul>
    {% for recipe in recipes %}
      <li>
        <a href="/recipe/{{ recipe.nanoid }}" hx-boost="true" hx-target="main">{{ recipe.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
<span class="htmx-indicator" id="indicator" aria-busy="true">Loading...</span>
<div id="content"></div>
{% endblock %}
